
.bioMain {
	width: 100%;
	min-height: 100%;
	background-color: lavender;
}

.herBio {
	width: 80%;
	margin: 0 auto;
	background-color: linen;
	overflow: hidden;
}

.herWorking {
	float: left;	
	margin: 0.4rem 3rem .4rem .4rem;
	padding: 0.2rem;
	border: black solid .4rem;
}

.herKiln {
	float: right;
	margin: 0.4rem;
	padding: 0.2rem;
	border: black solid .4rem;	
}

.bioHeading {
	margin: 0;
	font-size: 3rem;
	font-style: bold;
}

.bioText {
	font-size: 1.4rem;
	text-indent: 3rem;
}

.last {
	margin-bottom: 0;
}

.bottom {
	background: black;
	width: 100%;
	height: 4rem;
	opacity: 0.7;
}